/*
* Front - Page How to Adopt display
*/

.how-to-adopt {

    .container {
        padding-left: 0;
        padding-right: 0;
    }
    @include media-breakpoint-up(md) {
        margin-top: 150px;
    }
    
}
// Title - Info text
.adopt-title-container {
    background-color: black!important;
    color: $cat-secondary;
    font-family: 'Playfair Display SC', serif;
    padding: 60px;
    

    h2 {
        color: $cat-secondary;
        font-size: 2rem;
        text-align: center;
    }
    // Paragraph - Info Text
    p {
        font-family: 'Roboto', sans-serif;
        max-width: 70%;
        margin: auto;
    }
    // Large Screen Styles
    @include media-breakpoint-up(lg) {
        order: 2;
        h2 {
           font-size: 3.5rem;
        }
     }
    @include media-breakpoint-up(xl) {
        h2 {
           font-size: 4rem;
        }
     }
}

// New Cat - Container on Front Page
.adopt-container {
    background-color: $cat-primary;
    margin: auto;

}
// Single Cat on Front Page
.one-adopt {
    padding-top: 30px;
    text-align: center;
    text-transform: lowercase;
    
        a {
            color: $cat-secondary;
            font-size: 2rem;
            }

                a:hover {
                text-decoration: none;
                }
}