/*
* Styles for Archive Cats, Also styling for single cat-cards.
*/

.cat-card {
    text-align: center;
    background-color: transparent;
    border: none;
    .cat-btn {
        background-color: $cat-primary;
        width: 100%;
        border: none;
        color: black;
    }
    .cat-btn:hover {
        background-color: $cat-secondary;
    }
}
