/*
* Styling for Carousel
* SUCCESS CAROUSEL
*/

.carousel {
    
    color: $cat-secondary;
    padding: 0px;
     .carousel-text {
            padding: 30px;
        } 
    @include media-breakpoint-up(md) {
        padding: 0;
        max-width: 95%;
        margin: auto;
       
    }
    
}
