/*
* Front - Page Hero Canvas
*/
.jumbotron {
    
    border-radius: 0;
}

.front-page-hero {
    max-width: 100vw;
    min-height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-up(md) {
        min-height: 85vh;
        max-width: 100vw;
        background-size: 50% 50%;
        background-attachment: fixed;
        background-position: right;
        background-repeat: no-repeat;
        margin-right: 15%;
        margin-left: 15%;
        background-color: transparent;
    }
    
}

#index-wrapper {
    padding-top: 0;
}

.jumbo-text { 
    background-color: transparent!important; 
    border-radius: 0rem!important;
    
        h2 {
            font-size: 3rem;
            font-family: 'Playfair Display SC', serif;
            color: $cat-primary;

            @include media-breakpoint-up(md) {
                font-size: 6rem;
                line-height: 1em;
                margin-top: 0.5em;
            }
            @include media-breakpoint-up(lg) {
                font-size: 9rem;
                max-width: 60%;
            }
        }
        p {
            margin-left: 5%;
            font-weight: 700;
            
            text-align: justify;
            max-width: 70%;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: $cat-primary;

            @include media-breakpoint-up(md)  {
                max-width: 50%;
                margin-left: 3%;  
                background-color: $cat-primary!important;
                color: $cat-secondary;
                padding: 15px;
                
                
            }
            @include media-breakpoint-up(lg) {
                max-width: 50%;
                right: 20%;
            }
        }
}




