/*
* Main styling for KKs Malmö Theme
*/

body {
    background-color: $cat-secondary!important;
}
h1 {
    font-family: 'Playfair Display SC', serif!important;
}

.page-content {
    order: 1;
    @include media-breakpoint-up(md) {
       order: 2; 
    }
    
}
.theme-info {
    order: 2;
    @include media-breakpoint-up(md) {
        order: 1;
    }
    
}

a:hover {
    text-decoration: none;
    color: $cat-secondary;
}


// Stretch everything on the front page

#front-page-hero {
    @include media-breakpoint-up(md) {
        margin-bottom: 40vh;
    }
     
}
.latest-cats {
    @include media-breakpoint-up(md) {
        margin-bottom: 40vh;
    }
     
}
.how-to-adopt {
    @include media-breakpoint-up(md) {
        margin-bottom: 40vh;
    }
     
}

.success {
    @include media-breakpoint-up(md) {
        margin-bottom: 40vh;
    }
     
}