/*
* Main styling for KKs Malmö Theme
*/

body {
    background-color: $cat-secondary!important;
}
h1 {
    font-family: 'Playfair Display SC', serif!important;
}
.site {
   
        border-top: 1px solid $cat-secondary;
   
}
.page-content {
    order: 1;
    @include media-breakpoint-up(md) {
       order: 2; 
    }
    
}
.theme-info {
    order: 2;
    @include media-breakpoint-up(md) {
        order: 1;
    }
    
}
