/*
* Front - Page Success Stories display
*/

.success {

    .container {
        padding-left: 0;
        padding-right: 0;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 30px;
    }
    
}

