/*
* Front - Page Success Stories display
*/

.success {

    .container {
        padding-left: 0;
        padding-right: 0;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 30px;
    }
    
}
// Title - Info text
.success-title-container {
    background-color: black!important;
    color: $cat-secondary;
    font-family: 'Playfair Display SC', serif;
    padding: 60px;

    h2 {
        color: $cat-secondary;
        font-size: 3rem;
        text-align: center;
    }
    // Paragraph - Info Text
    p {
        font-family: 'Roboto', sans-serif;
        max-width: 70%;
        margin: auto;
    }
    // Large Screen Styles
    @include media-breakpoint-up(lg) {
        
        h2 {
           font-size: 3.5rem;
        }
     }
    @include media-breakpoint-up(xl) {
        h2 {
           font-size: 4rem;
        }
     }
}

// Success - Container on Front Page
.success-container {


}
// Single Success on Front Page
.one-success {
    
    padding: 12%;
    text-align: justify;
    margin: auto;
    img {
        margin-top: 5%;
    }
    
    h2 {
        text-transform: uppercase;
        font-family: 'Playfair Display SC', serif;
    }
        a {
            color: $cat-secondary;
            font-size: 2rem;
            border: 2px blac
            }
                a:hover {
                text-decoration: none;
                }
}

.success-text {
    margin-top: 20px;
}